# This file defines the cartography settings.
# Refer to each intel module for settings details.
# Analysis
CARTOGRAPHY_ANALYSIS__JOB_DIRECTORY=""
# AWS
CARTOGRAPHY_AWS__SYNC_ALL_PROFILES=False
CARTOGRAPHY_AWS__BEST_EFFORT_MODE=False
CARTOGRAPHY_AWS__REQUESTED_SYNCS="ecr,s3,ec2:instance"
# Azure
CARTOGRAPHY_AZURE__SYNC_ALL_SUBSCRIPTIONS=False
CARTOGRAPHY_AZURE__SP_AUTH=False
CARTOGRAPHY_AZURE__TENANT_ID=""
CARTOGRAPHY_AZURE__CLIENT_ID=""
CARTOGRAPHY_AZURE__CLIENT_SECRET=""
# BigFix
CARTOGRAPHY_BIGFIX__USERNAME=""
CARTOGRAPHY_BIGFIX__PASSWORD=""
CARTOGRAPHY_BIGFIX__ROOT_URL=""
# CrowdStrike
CARTOGRAPHY_CROWDSTRIKE__CLIENT_ID=""
CARTOGRAPHY_CROWDSTRIKE__CLIENT_SECRET=""
CARTOGRAPHY_CROWDSTRIKE__API_URL=""
# CVE
CARTOGRAPHY_CVE__URL="https://services.nvd.nist.gov/rest/json/cves/2.0/"
CARTOGRAPHY_CVE__ENABLED=False
CARTOGRAPHY_CVE__API_KEY=""
# DigitalOcean
CARTOGRAPHY_DIGITALOCEAN__TOKEN=""
# Duo
CARTOGRAPHY_DUO__API_KEY=""
CARTOGRAPHY_DUO__API_SECRET=""
CARTOGRAPHY_DUO__API_HOSTNAME=""
# WIP: GCP
# GitHub
CARTOGRAPHY__GITHUB__ORGNAME__TOKEN=""
CARTOGRAPHY__GITHUB__ORGNAME__URL=""
# WIP: GSuite
# Jamf
CARTOGRAPHY_JAMF__BASE_URL=""
CARTOGRAPHY_JAMF__USER=""
CARTOGRAPHY_JAMF__PASSWORD=""
# Kandji
CARTOGRAPHY_KANDJI__BASE_URL=""
CARTOGRAPHY_KANDJI__TENANT_ID=""
CARTOGRAPHY_KANDJI__TOKEN=""
# WIP: k8s
# LastPass
CARTOGRAPHY_LASTPASS__CID=""
CARTOGRAPHY_LASTPASS__PROVHASH=""
# WIP: OCI
# Okta
CARTOGRAPHY_OKTA__ORG_ID=""
CARTOGRAPHY_OKTA__API_KEY=""
CARTOGRAPHY_OKTA__SAML_ROLE_REGEX="^aws\#\S+\#(?{{role}}[\w\-]+)\#(?{{accountid}}\d+)$"
# PagerDuty
CARTOGRAPHY_PAGERDUTY__API_KEY=""
# Semgrep
CARTOGRAPHY_SEMGREP__TOKEN=""
CARTOGRAPHY_SEMGREP__DEPENDENCY_ECOSYSTEMS="gomod,npm,pypi"
# SnipeIT
CARTOGRAPHY_SNIPEIT__TOKEN=""
CARTOGRAPHY_SNIPEIT__BASE_URL=""
CARTOGRAPHY_SNIPEIT__TENANT_ID=""
